<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    RewriteRule ^client/login$ /client/login.php [L]
    RewriteRule ^client/dashboard$ /client/dashboard.php [L]
    RewriteRule ^client/logout$ /client/logout.php [L]
    RewriteRule ^admin/projects$ /admin/projects.php [L]
</IfModule>

<FilesMatch "\.(json)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
        Header set Content-Type "application/json"
    </IfModule>
</FilesMatch>
